.h1-title {
  margin: 0;
  color: #FFFFFF;
  font-size: 44px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 57px; }
  @media (max-width: 767px) {
    .h1-title {
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: 1.2px;
      text-align: center; } }

.subtitle-normal {
  margin: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #4C4C4C; }
  @media (max-width: 767px) {
    .subtitle-normal {
      text-align: center; } }

.subtitle-light {
  color: #CDCDCD; }

.h2-title {
  margin: 0;
  color: #545454;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 2px; }
  @media (max-width: 767px) {
    .h2-title {
      font-size: 25px;
      line-height: 32.5px;
      letter-spacing: 1.2px;
      text-align: center;
      margin: auto; } }

.title-light {
  color: #FFFFFF; }

.help-list-text {
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.2px; }
  @media (max-width: 767px) {
    .help-list-text {
      font-size: 15px;
      line-height: 16.5px; } }

.subtitle-additional {
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.9px; }
  @media (max-width: 767px) {
    .subtitle-additional {
      letter-spacing: 0;
      text-align: center; } }

.additional-text {
  color: #B2B2B2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 18px; }
  @media (max-width: 767px) {
    .additional-text {
      text-align: justify; } }

a {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  cursor: pointer; }

.link-light {
  padding: 15px 0 5px 0;
  color: #CDCDCD; }
  .link-light:hover {
    color: #FAFAFA;
    transition: all 0.3s ease-in-out; }
  .link-light:active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    transition: all 0.3s ease-in-out; }

.link-light-inactive {
  padding: 15px 0 5px 0;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  cursor: not-allowed; }

.link-dark {
  padding: 15px 0 5px 0;
  color: #545454; }
  .link-dark:hover {
    color: #292929;
    transition: all 0.3s ease-in-out; }
  .link-dark:active {
    color: #545454;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid #F1CDB3; }

.link-dark-inactive {
  padding: 15px 0 5px 0;
  color: #545454;
  border-bottom: 3px solid #F1CDB3;
  cursor: not-allowed; }

.nav-link {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  line-height: 24px;
  margin-left: 35px; }

.button {
  cursor: pointer;
  box-sizing: border-box;
  width: fit-content;
  height: 52px;
  background-color: transparent;
  padding: 14px 40px;
  border-radius: 100px;
  color: #292929;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.2px;
  transition: all 0.3s ease-in-out; }
  .button:hover {
    border-color: #FDDCC4;
    background-color: #FDDCC4;
    transition: all 0.3s ease-in-out; }

.button-arrow {
  overflow: hidden;
  cursor: pointer;
  height: 52px;
  min-width: 52px;
  border-radius: 100px;
  background-color: transparent;
  transition: all 0.3s ease-in-out; }
  .button-arrow:hover {
    border-color: #FDDCC4;
    background-color: #FDDCC4;
    transition: all 0.3s ease-in-out; }
  .button-arrow span {
    margin: auto;
    display: block;
    background-repeat: no-repeat; }

.button-primary {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
  transition: all 0.3s ease-in-out; }

.button-secondary {
  border: 2px solid #F1CDB3;
  transition: all 0.3s ease-in-out; }

.arrow-left {
  width: 14px;
  height: 6px;
  background-image: url(./assets/SVG/Arrowarrow_left.svg); }

.arrow-right {
  width: 14px;
  height: 6px;
  background-image: url(./assets/SVG/Arrowarrow_left.svg);
  transform: rotate(180deg); }

.tick-right {
  width: 11px;
  height: 11px;
  background-image: url(./assets/SVG/tick-right.svg); }

.tick-double-right {
  width: 25px;
  height: 11px;
  background-image: url(./assets/SVG/tick-double-right.svg); }

.tick-left {
  width: 11px;
  height: 11px;
  background-image: url(./assets/SVG/tick-right.svg);
  transform: rotate(180deg); }

.tick-double-left {
  width: 25px;
  height: 11px;
  background-image: url(./assets/SVG/tick-double-right.svg);
  transform: rotate(180deg); }

.page-number {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px; }

.inactive {
  background-color: transparent;
  border-color: #CDCDCD;
  cursor: not-allowed; }
  .inactive span {
    filter: brightness(5); }
  .inactive:hover {
    background-color: transparent;
    border-color: #CDCDCD; }

.input-button {
  display: block;
  padding-left: 12px;
  cursor: pointer;
  box-sizing: border-box;
  height: 43px;
  width: 349px;
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 1.2px;
  line-height: 23px; }
  .input-button::before {
    content: url(./assets/SVG/credit-card.svg);
    float: left;
    width: 30px;
    height: 23px; }
  @media (max-width: 767px) {
    .input-button {
      margin: auto;
      width: 281px;
      font-size: 15px;
      line-height: 16.5px; } }

.logo-title {
  margin: 0;
  color: #F1CDB3;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 2px; }

.logo-pets-title {
  color: #545454; }

.logo-subtitle {
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400px;
  line-height: 15px;
  letter-spacing: 1.3px; }

.logo-pets-subtitle {
  color: #292929; }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

main {
  margin: auto;
  display: flex;
  flex-direction: column; }

.wrapper {
  margin: auto;
  padding: 80px 40px 100px 40px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 1150px) {
    .wrapper {
      max-width: 1150px;
      padding: 80px 30px 100px 30px; } }
  @media (max-width: 767px) {
    .wrapper {
      max-width: 767px;
      padding: 42px 10px; } }

header {
  box-sizing: border-box; }
  header .wrapper-nav {
    padding: 30px 40px 10px 40px;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1150px) {
      header .wrapper-nav {
        padding: 30px 30px 10px 30px; } }
    @media (max-width: 767px) {
      header .wrapper-nav {
        padding: 30px 20px 10px 20px; } }
  header .burger {
    display: none; }

.main-header, .footer {
  background: url(./assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20; }
  @media (max-width: 767px) {
    .main-header .burger, .footer .burger {
      display: block;
      background-image: url(./assets/SVG/Burger_light.svg);
      width: 30px;
      height: 22px; }
    .main-header .nav, .footer .nav {
      display: none; } }

.pets-header {
  background-color: #FFFFFF;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    .pets-header .burger {
      display: block;
      background-image: url(./assets/SVG/Burger_dark.svg);
      width: 30px;
      height: 22px; }
    .pets-header .nav {
      display: none; } }

.start .wrapper {
  padding-bottom: 0; }
  .start .wrapper .start-info {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .start .wrapper .subtitle-normal {
    width: 100%;
    max-width: 460px;
    margin-top: 42px;
    margin-bottom: 42px; }
  .start .wrapper .start-img-div {
    display: flex;
    justify-content: right; }
  .start .wrapper .start-image {
    vertical-align: bottom;
    max-width: 698px; }
  @media (max-width: 1150px) {
    .start .wrapper {
      padding-top: 50px; }
      .start .wrapper .start-info {
        margin: 0 auto  100px auto;
        display: flex;
        flex-direction: column;
        align-items: center; }
      .start .wrapper .subtitle-normal {
        margin-bottom: 42px;
        max-width: 460px; }
      .start .wrapper .start-img-div {
        width: 100%; }
      .start .wrapper .start-image {
        max-width: 569px; } }
  @media (max-width: 767px) {
    .start .wrapper .start-info {
      margin-bottom: 105px; }
    .start .wrapper .start-image {
      max-width: 260px; } }

.about {
  background-color: #FFFFFF; }
  .about .wrapper {
    padding-bottom: 32px;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: flex-end; }
  .about .about-info {
    margin: 0 60px; }
  .about .h2-title {
    padding-top: 14px;
    padding-bottom: 24px; }
  .about .subtitle-normal {
    max-width: 430px; }
  .about .p-second {
    padding-top: 25px;
    padding-bottom: 80px; }
  .about img {
    max-width: 300px;
    max-height: 408px;
    margin: 0 60px;
    padding-bottom: 66px; }
  @media (max-width: 1150px) {
    .about .h2-title {
      padding-top: 0; } }
  @media (max-width: 767px) {
    .about .wrapper {
      padding-bottom: 42.5px; }
    .about .about-info {
      margin: 0 15px; }
    .about .subtitle-normal {
      text-align: justify; }
    .about .p-second {
      padding-top: 20px;
      padding-bottom: 42px; }
    .about img {
      max-width: 260px;
      padding-bottom: 0; } }

.our-friends {
  background-color: #F6F6F6; }
  .our-friends .wrapper {
    flex-direction: column;
    align-items: center; }
  .our-friends .h2-title {
    max-width: 400px;
    text-align: center; }
  .our-friends .slider {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 45px; }
  .our-friends .main-cards-container {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 995px;
    margin: 0 10px; }
  .our-friends .pets-cards-container {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .our-friends .pets-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 340px;
    margin-top: 45px; }
  .our-friends .card {
    margin: 15px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column; }
    .our-friends .card:hover .card-info {
      background-color: #FFFFFF;
      transition: all 0.3s ease-in-out; }
    .our-friends .card:hover .button {
      border-color: #FDDCC4;
      background-color: #FDDCC4;
      transition: all 0.3s ease-in-out; }
  .our-friends .card-info {
    box-sizing: border-box;
    max-width: 270px;
    padding: 30px 41.5px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: #FAFAFA;
    transition: all 0.3s ease-in-out; }
    .our-friends .card-info p {
      color: #545454;
      margin: 0;
      text-align: center;
      padding-bottom: 30px;
      letter-spacing: 1px;
      font-size: 20px;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 400; }
    .our-friends .card-info button {
      display: block;
      margin: auto; }
  .our-friends .modal-img {
    width: 270px;
    height: 270px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px; }
  @media (max-width: 1150px) {
    .our-friends .wrapper-our-pets {
      padding-bottom: 76px; }
    .our-friends .main-cards-container {
      max-width: 580px; }
      .our-friends .main-cards-container .card-3 {
        display: none; }
    .our-friends .pets-cards-container {
      margin-top: 13px;
      max-width: 580px; }
      .our-friends .pets-cards-container .card-7, .our-friends .pets-cards-container .card-8 {
        display: none; }
    .our-friends .pets-navigation {
      margin-top: 25px; } }
  @media (max-width: 767px) {
    .our-friends .wrapper-our-pets {
      padding-bottom: 42px; }
    .our-friends .slider {
      margin-top: 25px;
      flex-wrap: wrap;
      max-width: 270px; }
    .our-friends .main-cards-container {
      margin: 0;
      max-width: 270px;
      order: -1; }
      .our-friends .main-cards-container .card-2, .our-friends .main-cards-container .card-3 {
        display: none; }
    .our-friends .main-arrow {
      margin: 5px 40px 0 40px; }
    .our-friends .pets-cards-container {
      justify-content: center;
      margin-top: 25px;
      max-width: 270px; }
      .our-friends .pets-cards-container .card-4, .our-friends .pets-cards-container .card-5, .our-friends .pets-cards-container .card-6 {
        display: none; }
    .our-friends .pets-navigation {
      margin-top: 27px; } }

.help {
  background-color: #FFFFFF; }
  .help .wrapper {
    padding: 80px 0 48px 0;
    flex-direction: column;
    align-items: center; }
  .help .h2-title {
    max-width: 310px;
    text-align: center; }
  .help .help-list {
    padding: 0;
    padding-top: 58px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .help .help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px 34px 60px;
    list-style-type: none; }
  .help .help-list-logo {
    padding-bottom: 10px;
    margin: auto;
    display: block;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px; }
  .help .pet-food {
    background-image: url(./assets/SVG/icon-pet-food.svg); }
  .help .transportation {
    background-image: url(./assets/SVG/icon-transportation.svg); }
  .help .toys {
    background-image: url(./assets/SVG/icon-toys.svg); }
  .help .bowls {
    background-image: url(./assets/SVG/icon-bowls-and-cups.svg); }
  .help .shampoos {
    background-image: url(./assets/SVG/icon-shampoos.svg); }
  .help .vitamins {
    background-image: url(./assets/SVG/icon-vitamins.svg); }
  .help .medicines {
    background-image: url(./assets/SVG/icon-medicines.svg); }
  .help .collars {
    background-image: url(./assets/SVG/icon-collars-leashes.svg); }
  .help .sleeping {
    background-image: url(./assets/SVG/icon-sleeping-area.svg); }
  @media (max-width: 1150px) {
    .help .wrapper {
      padding: 80px 39px 48px 39px; }
    .help .help-item {
      width: 170px;
      padding: 0 30px 34px 30px; } }
@media (max-width: 1150px) and (max-width: 767px) {
  .help .wrapper {
    padding: 40px 0 14px 0; }
  .help .h2-title {
    max-width: 220px; }
  .help .help-list {
    max-width: 400px;
    padding-top: 42px;
    justify-content: space-between; }
  .help .help-item {
    width: 130px;
    padding: 0 15px 15px 15px; }
  .help .help-list-logo {
    background-size: contain;
    width: 50px;
    height: 50px;
    padding-bottom: 5px; } }

.donation {
  background-color: #F6F6F6; }
  .donation .wrapper {
    justify-content: center;
    padding-bottom: 90px;
    flex-wrap: wrap-reverse;
    align-items: flex-end; }
  .donation .donation-info {
    max-width: 380px;
    padding: 0 16px; }
  .donation .donation-image {
    padding: 11px 16px 10px 16px;
    max-width: 505px;
    max-height: 261px; }
  .donation .subtitle-additional {
    margin: 0;
    margin-top: 18px;
    margin-bottom: 20px; }
  .donation .additional-text {
    padding-top: 5px; }
  @media (max-width: 1150px) {
    .donation .additional-text {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .donation .wrapper {
      padding-bottom: 32px; }
    .donation .subtitle-additional {
      margin-top: 20px;
      margin-bottom: 25px; }
    .donation .additional-text {
      padding-top: 8px;
      padding-bottom: 20px; }
    .donation .donation-image {
      padding: 11px 16px 10px 16px;
      max-width: 260px; } }

.footer .wrapper {
  padding-top: 40px;
  padding-bottom: 0; }
.footer .contact-block {
  margin-top: 16px; }
  .footer .contact-block .mail, .footer .contact-block .phone {
    padding-top: 39px;
    display: flex;
    align-items: center; }
  .footer .contact-block .adress {
    padding-top: 31px;
    display: flex;
    align-items: center; }
  .footer .contact-block a {
    transition: all 0.03s ease-in-out;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #F1CDB3;
    padding-left: 20px; }
    .footer .contact-block a:hover {
      color: #F6F6F6; }
.footer .h2-title {
  max-width: 278px; }
.footer .mail-logo {
  display: block;
  background-image: url(./assets/SVG/icon-email.svg);
  width: 40px;
  height: 32px; }
.footer .phone-logo {
  display: block;
  background-image: url(./assets/SVG/icon-phone.svg);
  width: 40px;
  height: 32px; }
.footer .adress-logo {
  display: block;
  background-image: url(./assets/SVG/icon-marker.svg);
  width: 22px;
  height: 32px; }
@media (max-width: 1150px) {
  .footer .wrapper {
    padding: 14px 72px 0 64px; }
  .footer .footer-img {
    margin: auto;
    margin-top: 65px; } }
@media (max-width: 767px) {
  .footer .wrapper {
    padding: 30px 10px 0 10px;
    justify-content: center; }
  .footer .footer-img {
    max-width: 260px; }
  .footer .h2-title {
    max-width: 270px; }
  .footer .contact-block {
    margin-top: 0;
    margin-bottom: 40px; }
    .footer .contact-block .mail, .footer .contact-block .phone {
      margin: auto;
      justify-content: center; }
    .footer .contact-block .adress {
      padding-top: 40px; }
  .footer .footer-img {
    margin: auto;
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
