//buttons

.button {
    
    cursor: pointer;
    box-sizing: border-box;
    width: fit-content;
    height: 52px;
    background-color: transparent;
    padding: 14px 40px;
    border-radius: 100px;
    color: $color-dark-3xl;
    font: {
        size: 17px;
        family: $Georgia;
        weight: 400;
    }
    line-height: 22px;
    letter-spacing: 1.2px;
    transition: all 0.3s ease-in-out;
    &:hover {
        border-color: $color-primary-light;
        background-color: $color-primary-light;
        transition: all 0.3s ease-in-out;
    }
}

.button-arrow {
    overflow:hidden;
    cursor: pointer;
    height: 52px;
    min-width: 52px;
    border-radius: 100px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    &:hover {
        border-color: $color-primary-light;
        background-color: $color-primary-light;
        transition: all 0.3s ease-in-out;
    }
    span {
        margin: auto;
        display: block;
        background-repeat: no-repeat;
    }
}

.button-primary {
    border: 2px solid $color-primary;
    background-color: $color-primary;
    transition: all 0.3s ease-in-out;
}

.button-secondary {
    border: 2px solid #F1CDB3;
    transition: all 0.3s ease-in-out;
}

.arrow-left {
    width: 14px;
    height: 6px;
    background-image: url(./assets/SVG/Arrowarrow_left.svg);
}

.arrow-right {
    width: 14px;
    height: 6px;
    background-image: url(./assets/SVG/Arrowarrow_left.svg);
    transform: rotate(180deg); 
}

.tick-right {
    width: 11px;
    height: 11px;
    background-image: url(./assets/SVG/tick-right.svg);
}

.tick-double-right {
    width: 25px;
    height: 11px;
    background-image: url(./assets/SVG/tick-double-right.svg);
}

.tick-left {
    width: 11px;
    height: 11px;
    background-image: url(./assets/SVG/tick-right.svg);
    transform: rotate(180deg); 
}

.tick-double-left {
    width: 25px;
    height: 11px;
    background-image: url(./assets/SVG/tick-double-right.svg);
    transform: rotate(180deg); 
}

.page-number {
    font-family: $Georgia;
    font-size: 20px;
}

.inactive {
    background-color: transparent;
    border-color: $color-dark-s;
    span {
      filter: brightness(5); 
    }
    
    cursor: not-allowed;
    &:hover {
        background-color: transparent;
        border-color: $color-dark-s;
    }
}

.input-button {
    display: block;
    padding-left: 12px;
    cursor: pointer;
    box-sizing: border-box;
    height: 43px;
    width: 349px;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    font: {
        family: $Georgia;
        size: 20px;
        weight: 400;
    }
    color: $color-dark-l;
    letter-spacing: 1.2px;
    line-height: 23px;
    &::before {
        content: url(./assets/SVG/credit-card.svg);
        float: left;
        width: 30px;
        height: 23px;
    }

    @include media-mobile {
        margin: auto;
        width: 281px;
        font-size: 15px;
        line-height: 16.5px;
    }
}

